<!DOCTYPE html>
<html>
<style type="text/css">
    table {
        /* border-collapse: collapse; */
        border: 5px solid gray;
        /* width: calc(50% - 10px); */
        /* float: left; */
        margin: 5px;
        font-size: medium;
    }
    img {
        width: 100%;
        display: block;
    }
    body {
        background-image: url(mountains.jpeg);
        background-size:cover;
        background-repeat: no-repeat;
    }
</style>
<head>
    <title>This week in brief</title>
</head>
<body>
    <span id="clock" style="font-size: x-large;position: absolute; bottom: 0; left: 0;font-family:Arial, Helvetica, sans-serif; color: whitesmoke;"></span>
    <span id="datetime" style="font-size: small;position: absolute; top: 0; right: 0;"></span>
    <p> <% jsonData %> </p> 
    <!-- <table id="weatherTable" border="1"> -->
            <% for (var i = 0 ; i < jsonData.length ; i++) { %>
                <table border="1" style="float: left; height: 250px;">
                    <thead>
                        <tr><th style="text-align: center; font-weight: bold; font-size: small; width: 105px"><%= jsonData[i].name %></th></tr>
                        <tr><td style="text-align: center; vertical-align: bottom;"><img src= <%= jsonData[i].icon %>></td></tr>
                        <tr><td style="text-align: center; width: 105px"><%= jsonData[i].temperature + " °C"%></td></tr>
                        <tr><td style="text-align: center; width: 105px"><%= jsonData[i].windSpeed %></td></tr>
                        <tr style="height: 80px"><td style="text-align: center; font-size: small; width: 105px;x"><%= jsonData[i].shortForecast %></td></tr>
                    </thead>
                </table>
                <% } %>
    <!-- </table> -->
    <div>
        <p> <% stockData %> </p> 
        <p> <% stockArray %> </p> 
        <table id="stockExchange" border="1" style="border: 1; float: left; ">
            <thead>
                <tr>
                    <th>Ticker Symbol</th>
                    <th>Current price</th>
                    <th>Change</th>
                    <th>% Change</th>
                    <th>Open price of the day</th>
                    <th>Previous close price</th>
                </tr>
                <% for (var i = 0 ; i < stockData.length ; i++) { %>
                    <tr>
                        <td><%= stockArray[i] %></td>
                        <td> <%= stockData[i].c %></td>
                        <td><%= stockData[i].d %></td>
                        <td><%= stockData[i].dp %></td>
                        <td><%= stockData[i].o %></td>
                        <td><%= stockData[i].pc %></td>
                    </tr>
                    <% } %>
            </thead>
        </table>
        <p> <% worldNews %> </p> 
        <table id="worldNews" border="1"">
            <thead>
                <tr>
                    <th>Top News</th>
                </tr>
                <% for (var i = 0 ; i < worldNews.length ; i++) { %>
                    <tr>
                        <td><%= worldNews[i].title %></td>
                    </tr>
                    <% } %>
            </thead>
        </table>
    </div>
    <table id="currentWeather" border="1" style="position: absolute; right: 0; bottom: 0;">
        <thead>
            <tr>
                <th>Current Weather</th>
            </tr>
            <tr><td style="text-align: center;"><img src= <%= currIcon %>></td></tr>
            <tr><td style="text-align: center; font-size: x-large;color: whitesmoke;"><%= currDescription %></td></tr>
            <tr><td style="text-align: center; font-size: x-large;color: whitesmoke;"><%= "Temp: " + currTemp + " °C" %></td></tr>
            <tr><td style="text-align: center; font-size: x-large;color: whitesmoke;"><%= "Feels: " + currFeelsLike + " °C" %></td></tr>
            <tr><td style="text-align: center; font-size: x-large;color: whitesmoke;"><%= "Wind: " + currWindspeed + " km/h" %></td></tr>
            
        </thead>
    </table>
    <script type="text/javascript">
        //put this somewhere in "show.html"
        //using window onload event to run function
        //so function runs after all content has been loaded.
        //After refresh this entire script will run again.
        window.onload = function () {
            'use strict';
            var millisecondsBeforeRefresh = 900000; //Adjust time here (eg every 15mins)
            window.setTimeout(function () {
                //refresh the entire document
                document.location.reload();
            }, millisecondsBeforeRefresh);
        };
        window.addEventListener("load", () => {
            clock();
        });

        function getWeatherColor(temp)
            {
                var background="white";
                if(temp<4)
                    {
                        background="lightgray";
                    }
                else if(temp>=4 && temp<15)
                    {

                        background="lightblue";
                    }
                else if(temp>=15 && temp<24)
                    {
                        background="lightyellow";
                    }
                else background="lightpink";
                return background;   
            };


        function getStockColor(pc) {
            if (pc < -1) {
                    background="lightsalmon";
                }
            else if ((pc > -1) && (pc < 0)) {
                    background="lightpink";
                }
            else if ((pc > 0) && (pc < 1)) {
                    background="lightseagreen";
                }
            else background="lightgreen";
            return background;  
        };


        var t = document.getElementById('weatherTable');
        if (t) {
            Array.from(t.rows).forEach((tr, rowIdx) => {
				Array.from(tr.cells).forEach((cell, cellIdx) => {
                    if (cellIdx == 1 && rowIdx != 0) {
                        var color = getWeatherColor(parseInt(cell.innerText));
                        cell.style.backgroundColor = color;
                    }
				});
			});
		};

        var t2 = document.getElementById('stockExchange');
        if (t2) {
            Array.from(t2.rows).forEach((tr, rowIdx) => {
				Array.from(tr.cells).forEach((cell, cellIdx) => {
                    if (cellIdx == 3 && rowIdx != 0) {
                        var pc = parseFloat(cell.innerText);
                        var colorStock = getStockColor(pc);
                        cell.style.backgroundColor = colorStock;
                    }
				});
			});
		}

        // Get current date and time
        var now = new Date();
        var datetime = now.toLocaleString();

        // Insert date and time into HTML
        document.getElementById("datetime").innerHTML = datetime;

        function clock() {
            const today = new Date();
        
            // get time components
            const hours = today.getHours();
            const minutes = today.getMinutes();
            const seconds = today.getSeconds();
        
            //add '0' to hour, minute & second when they are less 10
            const hour = hours < 10 ? "0" + hours : hours;
            const minute = minutes < 10 ? "0" + minutes : minutes;
            const second = seconds < 10 ? "0" + seconds : seconds;
        
            //make clock a 12-hour time clock
            const hourTime = hour > 12 ? hour - 12 : hour;
        
            // if (hour === 0) {
            //   hour = 12;
            // }
            //assigning 'am' or 'pm' to indicate time of the day
            const ampm = hour < 12 ? "AM" : "PM";
        
            // get date components
            const month = today.getMonth();
            const year = today.getFullYear();
            const day = today.getDate();
        
            //declaring a list of all months in  a year
            const monthList = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ];
        
            //get current date and time
            const date = monthList[month] + " " + day + ", " + year;
            const time = hourTime + ":" + minute + ":" + second + ampm;
        
            //combine current date and time
            const dateTime = date + " - " + time;
        
            //print current date and time to the DOM
            document.getElementById("clock").innerHTML = dateTime;
            setTimeout(clock, 1000);
    }
    </script>
</body>
</html>
